.header {
  width: 100%;
  height: 118px;
  background: #FAFAFA;
  display: grid;
  grid-template-columns: auto 189px;
  gap: 32px;
  padding-left: 32px;
  padding-right: 64px;
  align-items: center;

  &__title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #E5E5E5;
    padding-right: 32px;

    & > button {
      @extend %primary-button;
      gap: 8px;
      max-width: fit-content;
      padding: 0 23.5px;
    }
  }

  &__title {
    @extend %title-18;
    font-weight: 500;
  }

  &__group {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__account {
    display: flex;
    gap: 8px;
    align-items: center;
    &__initials {
      font-weight: 500;
      color: #FFF;
      min-width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #DF7C0D;
  }
  }

}